@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "欢迎使用微信云托管";
}

<div class="container">
    <div class="title">
        <img class="title-logo" src="https://static-index-4gtuqm3bfa95c963-1304825656.tcloudbaseapp.com/official-website/favicon.svg" />
        <h1 style="display: inline; margin-bottom: 48px">欢迎使用微信云托管</h1>
    </div>
    <div style="text-align: center">
        <p class="count-text">当前计数：<span class="count-number"></span></p>
        <div style="display: flex; justify-content: center; margin-bottom: 80px">
            <a class="btn btn-success btn-lg count-button" style="background: #07c160; border: 0" onclick="set('inc')">计数+1</a>
            <a class="btn btn-outline-success btn-lg count-button" style="background: rgba(0, 0, 0, 0.03); color: #07c160; border: 0" onclick="set('clear')">清零</a>
        </div>
        <small class="text-black-50" style="display: flex; justify-content: center; margin-bottom: 16px">扫码加入微信云托管用户群</small>
        <img class="qrcode middle" src="https://qcloudimg.tencent-cloud.cn/raw/89b46988d3cd73d8a56e76a1b82bb377.png" />
    </div>
</div>
